.top-header {
  padding-right: 21%;
  padding-left: 19%;
  position: relative;
  
}
.top-bar {
  $topbar: 300px;
  margin: 20px 20px 20px 20px; 
}

.nav-bar {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BF0E0D;
  > div {
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  > div:hover {
    color: #2D2102;
  }
  img {
    width: 100px;
    margin-bottom: -20px;
  }
}
 
.home {
  padding-right: 20%;
  padding-left: 20%;
  position: relative;
  background: #D4B580;

  .block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
    img {
      position: absolute;
      height: 100%;
    }
    > div {
      z-index: 100;
      text-align: left;

      > div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 90%;
        white-space: nowrap;
        margin: 5px 0;
   
        > span:first-child {
          color: #2D2102;
          display: inline-block;
          width: 50%;
          text-align: left;
          text-transform: uppercase;
          margin-right: 20px;
        }
      }
    }
  }
  > div {
    margin: 0 0 40px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background:#D4B580;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.1em;
  font-weight: normal;
}

h1 {
  font-weight: normal;
  font-size: 55px;

}
h2 {
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

@keyframes stretch {
  0% {
    transform: scale(85%);
  }
  100% {
    transform: scale(100%);
  }
}


@media only screen and (max-width: 800px) {
  
  .nav-bar {
    font-size: 95%;
    img {
      width: 70px;
    }
  }
  body {
    font-size: 90%;
   
  }
  .home {
    padding: 2vw 7vw;
    .block {
      font-size: 80%;
      padding: 25px 0;
       
    }
  }
  .top-blocks {
    flex-direction: column;
    > div {
      width: 70% !important;
      margin: 5%;
    }
  }
  .top-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 0;  
  }
}
